@model RestaurantEntity.Food
@{
    Layout = "~/Views/Shared/_LayoutAdmin1.cshtml";

}
<h1>DeleteEmployee</h1>
<div>
    <a asp-controller="Admin1" asp-action="Index">Index</a>
    <hr />
</div>
<form method="post" enctype="multipart/form-data">

    <div class="form-group">
        @*  form group for automatic audjustment for various screen sizes*@
        <label>Food Id</label>
        <input type="text" asp-for="FoodId" class="form-control" placeholder="Enter Food Id" required />
    </div>

    <input type="submit" value="Delete" class="btn btn-outline-success" /> @*submit display message for required option required works only with submit*@

    <hr />
    @*submit sends form to server thats why we use submit not button type  *@
    @*   by default get request is called so we have mention post in the initial stage of form which will call httppost in Employeecontroller *@
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>

