@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin1.cshtml";

}
<h1>Index of Admin1</h1>

<a asp-controller="Admin1" asp-action="AddEmployee">Add Employee </a>
<br />
<a asp-controller="Admin1" asp-action="EditEmployee">Update Employee</a>
<br />
<a asp-controller="Admin1" asp-action="DeleteEmployee">Delete Employee</a>
<br />

<a asp-controller="Admin1" asp-action="GetAllEmployees">Get All Employees</a>
<br />

<a asp-controller="Admin1" asp-action="AddFood">Add Food</a>
<br />

<a asp-controller="Admin1" asp-action="EditFood">Update Food</a>
<br />

<a asp-controller="Admin1" asp-action="DeleteFood">Delete Food</a>
<br />
<a asp-controller="Admin1" asp-action="GetAllFoods">Get All Foods</a>


